DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
JWT_SECRET="genere-avec-openssl-rand-base64-32"
MINIO_ENDPOINT="http://localhost:9000"
MINIO_ACCESS_KEY="votre-access-key"
MINIO_SECRET_KEY="votre-secret-key"
MINIO_BUCKET="depots"
